@charset "UTF-8";

/* 共通サイズ
------------------------------------- */
.post-title {
    padding-bottom: 10px;
    background-image: linear-gradient(45deg, #fff 30%, #ccc 30%, #ccc 50%, #fff 50%, #fff 80%, #ccc 80%, #ccc 100%);
    background-size: 6px 6px;
    margin-bottom: 1.5rem;
}

.post-title h2 {
    background-color: #fff;
    padding: 0.5rem 0.875rem;
    font-size: 1.5rem;
    font-family: 'M PLUS Rounded Ic', sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

.post-title h2 {
    color: #949087;
    text-decoration: none;

}

.post-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 40% 70% 50% 30% / 50% 50% 50% 50%;

}

.post-thumb {
    margin: 0 0 1rem 0;
    position: relative;
}

/* デスクトップサイズ
------------------------------------- */
@media (min-width: 600px) {
    .container {
        background-color: beige;
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
        padding: 1rem 2.5rem 2.5rem;
    }

    main {
        width: 68%;
        margin-bottom: 0px;

    }

    aside {
        background-color: aquamarine;
        width: 26%;
    }

    
    .post-thumb {
        margin: 0 3rem 1rem 0;
        float: left;
        clear: both;
        shape-outside: circle();
    }

    .post-img {
        width: 220px;
        height: 180px;
        
    }

    .post-desc {
        padding-top: 1rem;
    }

    
}